{%extends 'base.html' %}
{% load blog_tags %}
{% block title %}红药丨提问交流{% endblock title %}

{% block description %}
    <meta name="description" content="{% get_title category as bigcategory %}{{ bigcategory.description }}"/>
    {% endblock description %}
    {% block keywords %}
    <meta name="keywords" content="{% get_title category as bigcategory %}{{ bigcategory.keywords }}"/>
    {% endblock keywords %}
{%block body%}
	
<div class="pagewrapper clearfix">
		<header class="pageheader clearfix">
			<h1 class="pull-left">
				<a href="https://cuiqingcai.com/question">提问交流</a>
			</h1>
			<div class="pull-right"><!-- 百度分享 -->
	            <span class="action action-share bdsharebuttonbox"><i class="fa fa-share-alt"></i>分享 (<span class="bds_count" data-cmd="count" title="累计分享0次">0</span>)
                    <div class="action-popover">
                        <div class="popover top in">
                            <div class="arrow"></div>
                        <div class="popover-content">
                            <a href="#" class="sinaweibo fa fa-weibo" data-cmd="tsina" title="分享到新浪微博"></a>
                            <a href="#" class="bds_qzone fa fa-star" data-cmd="qzone" title="分享到QQ空间"></a>
                            <a href="#" class="qq fa fa-qq" data-cmd="sqq" title="分享到QQ好友"></a>
                            <a href="#" class="bds_weixin fa fa-weixin" data-cmd="weixin" title="分享到微信"></a>
                            <a href="#" class="bds_more fa fa-ellipsis-h" data-cmd="more"></a>
                        </div>
                        </div>
                    </div>
                </span>
            </div>
		</header>
        <div class="article-content">
				<div class="">
                    <div id="qrcodes">
                        <div class="row">
                            <div class="col-xs-12 col-md-4">
                                <div class="p-sm" style="overflow: hidden; padding-bottom: 15px;">
                                    <p class="text-center">有问题请私发我邮箱,或在微信公众号留言，~</p>
                                    <p class="text-center"><img class="aligncenter wp-image-6140 size-medium" src="/static/images/微信公众号.jpg" alt="" width="233" height="320"  sizes="(max-width: 233px) 100vw, 233px" /></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
</div>
{%endblock body%}